/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1{
    font-size: 30px;
    color: black;
    padding: 20px;
    margin-left: 20px;
}
.box{
    height: 200px;
    width: 200px;
    border: 5px black;
    padding: 20px;
    display: inline-block;
    margin: 10px;
}
.solid{
    height: 60px;
    width: 60px;
    border:  solid black 5px;
    background-color: brown;
    margin: 10px;
}
.solid1{
    height: 60px;
    width: 60px;
    border:  double black 5px ;
    background-color: brown;
    margin: 10px;
}
 .dashed{
    height: 60px;
    width: 60px;
    border: dashed black 5px;
    background-color: brown;
    margin: 10px;
}
.dotted{
    height: 60px;
    width: 60px;
    border: dotted black 5px;
    background-color: brown;
    margin: 10px;
}
.none{
    border: none black 5px;
    height: 70px;
    width: 70px;
    background-color: brown;
    margin: 10px;
    
}
.inline{
    display:inline-block
}
.container{
    border: solid rgb(128,45,128) 30px;
    padding: 42px,32px;
    margin: 30px;
    width: 350px;
    height: 500px;

}
p{
    padding: 52px;
    background-color: rgb(233,62,51);
    border-top: solid rgb(35,74,251) 15px;
    border-right: solid rgb(128,128,128) 15px;
    border-left: solid rgb(64,129,6) 15px;
    border-bottom: solid  rgb(253,247,49) 15px;
} 

